<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.mstar004.callrecorder">

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.PROCESS_INCOMING_CALLS" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"
        />
    <uses-permission android:name="android.permission.START_FOREGROUND_SERVICES_FROM_BACKGROUND"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />
    <uses-permission android:name="ACCESS_BACKGROUND_RECORD_AUDIO"/>
    <uses-permission android:name="START_ACTIVITIES_FROM_BACKGROUND"/>

    <uses-permission android:name="android.permission.BIND_ACCESSIBILITY_SERVICE"
        tools:ignore="ProtectedPermissions" />

    <application
        android:allowBackup="true"
        android:supportsRtl="true">

        <service
            android:name=".service.CallRecordService"
            android:exported="true"
            android:foregroundServiceType="microphone"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE">

            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService" />
            </intent-filter>
        </service>

        <receiver android:name=".receiver.CallRecordReceiver"
            tools:ignore="Instantiatable"
            android:exported="true"/>
        
        <receiver android:name=".receiver.PhoneCallReceiver"
            android:exported="true"
          >

       <!--     <intent-filter>
                <action android:name="android.intent.action.PHONE_STATE" />
            </intent-filter>-->

        </receiver>

    </application>
</manifest>